a {
  text-decoration: none;
}

.sw-page-header {
  background-color:#d1d1d1;
  padding: 30px 30px;
  margin: 40px 0px;
  font-weight: bold;
  font-size: 30pt;
  font-family: sans-serif;
}

.sw-display-card-nostyle {
  width: 120pt;
  min-height: 200pt;
  margin: 10px 10px;
  border-color: #bfbfbf;
}

.sw-display-card {
  width: 120pt;
  min-height: 170pt;
  margin: 10px 10px;
  border-color: #bfbfbf;
  border-width: medium;
  border-style: dashed;
}

.sw-display-card:hover {
  border-width: medium;
  border-color: #595959;
  border-style: dashed;
}

.sw-add-card-img {
  width: 50px;
  height: 50px;
  margin: 50px;
}

.sw-card-img {
  padding: 2px;
}

.sw-card-text {
  font-family: Helvetica, Arial;
  font-size: 12pt;
  font-weight: bold;
}

.sw-show-link {
  cursor: pointer;
}
