{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('slowly-module.add_new_stamp') }}" method="post" enctype="multipart/form-data">
  <div class="container w-50">
    <div class="row my-3">
      <div class="col">
        <div class="sw-page-header">Add Stamp</div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="inputStampName"
            name="inputStampName" required>
          <label for="inputStampName">Enter Stamp Name here (*)</label>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="stampImage" class="form-label-sm">Upload Image</label>
          <input class="form-control form-control-sm" id="stampImage" type="file" name="stampImage">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="mx-2 my-2">Select Category</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% for category in all_categories %}
          <div class="input-group col-xs-2">
            <div class="input-group-text">
              <input class="form-check-input" type="radio" name="category-radio"
                value="{{ category.cid }}" id="category-{{ category.cid }}">
            </div>
            <input type="text" class="form-control" value="{{ category.cname }}" disabled>
          </div>
        {% endfor %}
        <div class="input-group col-xs-2">
          <div class="input-group-text">
            <input class="form-check-input" type="radio" name="category-radio"
              value="newCategory" id="new-category">
          </div>
          <input id="newCategoryTextArea" type="text" class="form-control"
            name="newCategoryName" disabled>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col">
        <button type="submit" class="btn btn-primary mx-2">Submit</button>
        <a href="/users">
          <button type="button" class="btn btn-primary mx-2">Cancel</button>
        </a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
