{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('slowly-module.add_new_user') }}" method="post" enctype="multipart/form-data">
  <div class="container w-50">
    <div class="row my-3">
      <div class="col">
        <div class="sw-page-header">Add PenPal</div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="inputPalName"
            placeholder="Enter name here" name="penPalName" required>
          <label for="inputPalName">Enter PalName here (*)</label>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="userImage" class="form-label-sm">Upload Image</label>
          <input class="form-control form-control-sm" id="userImage" type="file" name="penPalImage">
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <button type="submit" class="btn btn-primary mx-2">Submit</button>
        <a href="/users">
          <button type="button" class="btn btn-primary mx-2">Cancel</button>
        </a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
