{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('slowly-module.edit_existing_user', userid=user_id) }}" method="post" enctype="multipart/form-data">
  <div class="container w-50">
    <div class="row my-3">
      <div class="col">
        <div class="sw-page-header">
          {% if user_image_id %}
            <img src="{{ url_for('slowly-module.user_image', filename=user_image_id) }}" class="sw-card-img" width="200px" height="200px">
          {% else %}
            <img src="{{ url_for('static', filename='user-placeholder.jpg') }}" class="sw-card-img" width="200px" height="200px">
          {% endif %}
          Edit > {{ user_name }}
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="inputPalName" name="penPalName"
            value="{{ user_name }}" required>
          <label for="inputPalName">Enter new name here</label>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="userImage" class="form-label-sm">Upload New Image (Else old one will be used)</label>
          <input class="form-control form-control-sm" id="userImage" type="file" name="penPalImage">
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <button type="submit" class="btn btn-primary mx-2">Submit</button>
        <a href="/users">
          <button type="button" class="btn btn-primary mx-2">Cancel</button>
        </a>
      </div>
    </div>
  </div>
</form>

{% endblock %}
