{% extends "base.html" %}

{% block user_button %}
<button type="button" class="btn btn-primary">
  Penpals  <span class="badge bg-dark px-2">{{ num_users }}</span>
</button>
{% endblock %}

{% block content %}
<div class="mx-auto w-75">
  <div class="sw-page-header">PenPals</div>
  <div class="d-flex flex-wrap justify-content-center">
    <!-- Add new user card -->
    <a href="/add_user">
      <div class="card text-dark bg-info sw-display-card">
        <img src="{{ url_for('static', filename='plus-icon.png') }}" class="card-img-top sw-add-card-img">
        <div class="card-body text-center">
          <span class="card-title sw-card-text">Add PenPal</span>
        </div>
      </div>
    </a>
    <!-- Existing users -->
    {% for user in users %}
      <div class="card text-dark sw-display-card">
        <a href="/user/{{ user.id }}">
          {% if user.image %}
            <img src="{{ url_for('slowly-module.user_image', filename=user.image) }}" class="card-img-top sw-card-img">
          {% else %}
            <img src="{{ url_for('static', filename='user-placeholder.jpg') }}" class="card-img-top sw-card-img">
          {% endif %}
        </a>
        <div class="card-body text-center">
          <span class="card-title sw-card-text">{{ user.name }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
