{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 order-first">
      <div class="sticky-top card text-dark sw-display-card-nostyle">
        {% if user_info.image_id %}
          <img src="{{ url_for('slowly-module.user_image', filename=user_info.image_id) }}"
            id="user-{{ user_info.image_id }}" class="card-img-top user-image sw-card-img">
        {% else %}
          <img src="{{ url_for('static', filename='user-placeholder.jpg') }}"
            class="card-img-top user-image sw-card-img">
        {% endif %}
        <div class="card-body text-center">
          <span class="card-title user-name sw-card-text">{{ user_info.name }}</span>
          <div class="btn-group mt-3" role="group">
            <a href="/edit/{{ user_info.id }}">
              <button type="button" id="editPal-{{ user_info.id}}" class="btn btn-outline-primary">Edit</button>
            </a>
            <button type="button" id="deletePal-{{ user_info.id }}" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop" class="btn btn-outline-danger deletePalBtn">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      {% for category_name, stamps_list in stamps.items() %}
        <div class="sw-page-header">{{ category_name }}</div>
        <div class="d-flex flex-wrap justify-content-center">
          {% for stamp in stamps_list %}
            <div id="selectStamp-{{ stamp.id }}" class="card text-dark selectStampsList sw-display-card sw-show-link"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop">

              {% if stamp.image %}
                <img src="{{ url_for('slowly-module.stamp_image', filename=stamp.image) }}"
                  id="stamp-{{ stamp.image }}" class="card-img-top sw-card-img">
              {% else %}
                <img src="{{ url_for('static', filename='stamp-placeholder.png') }}"
                  class="card-img-top sw-card-img">
              {% endif %}

              <div class="card-body text-center">
                <span class="card-title sw-card-text">{{ stamp.name }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" id="common-modal-body"></div>
      <div class="modal-footer">
        <button type="button" id="common-modal-cancel-btn" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">cancel</button>
        <a href="#" id="common-modal-confirm-link">
          <button type="button" id="common-modal-confirm-btn" class="btn btn-sm btn-primary">confirm</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
